<html>
	<meta charset="UTF-8">
	<head>
		<title> Page Admin	</title>
	</head>
	<body>
		<form>
			 <p>
					 <div class="button" >
							 <input type="button" value="Administration des bots" id="adminbot"></button>
					 </div>
			 </p>
		</form>
		
		<div class="button" >
			<input type="button" value="Acceder à l'interface de surveillance" id="surveillance"></button>
		</div>
		<div class="button" >
			<input type="button" value="Activer l'écoute des chatBot" id="ecoute"></button>
		</div>
	</body>
	<script src="js/administration.js"></script>
</html>
