<html>
	<meta charset="UTF-8">
	<head>
		<title> Création de Bot	</title>
	</head>
	<body>
		<form>
			<p>
				<label >Quel id pour le bot? </label>
				<input type="text" id="idbot"></button>
			</p>
			<p>
				<label >Quel nom pour le bot? </label>
				<input type="text" id="namebot"></button>
			</p>
			<p>
					 <label for="interface">Sur quelle interface démarer le nouveau bot?</label><br />
					 <select name="nameInterface" id="nameInterface">
						   <option value="chat">Chat utilisateur</option>
						   <option value="masto">Mastodonte</option>
						   <option value="slack">Slack</option>
						   <option value="discord">Discord</option>
					 </select>
			 </p>
			 <p>
			 		<div>
			 	      <label for="personnalité">Quelle personalité pour le bot?</label><br />
					 <select name="brain" id="brain">
						   <option value="default">Default</option>
						   <option value="gentil">Gentil</option>
					 </select>
			 	  </div>
			<p>
				<label >Quel port pour le bot? </label>
				<input type="text" id="portbot"></button>
			</p>
					 <div class="button" >
							 <input type="button" value="Ajouter un nouveau bot" id="newbot"></button>
					 </div>
					 <div class="button" >
							 <input type="button" value="Modifier un bot existant" id="modifybot"></button>
					 </div>
					 <div class="button" >
							 <input type="button" value="Supprimer un bot existant via son id" id="delbot"></button>
					 </div>
					 <div class="button" >
							 <input type="button" value="Afficher les bots existants" id="showbot"></button>
					 </div>
			 </p>
		</form>
	</body>
	<script src="/js/managebot.js"></script>
</html>
