<html>
	<meta charset="UTF-8">
	<head>
		<title> No chat	</title>
	</head>
	<body>		
 		<form>
			 <p>
					<div>
			 	      <label type="text" id="reponse" name="reponse" text="The chat bot is actualy busy. Please contact your administrator to use it."></label>
			 		</div>
			 </p>
		</form>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script>		
			socket.on('SetOnSteeve',function(){
				document.location="http://localhost:3000/chat";
			})
	</script>
</html>
