<html>
	<meta charset="UTF-8">
	<head>
		<title> Page chat	</title>
	</head>
	<body>		
 		<form>
			 <p>
			 		<div>
			 	      <input type="text" id="msg" name="msg" size="100">
			 		</div>
					<div class="button" >
							 <input type="button" value="envoyer message" id="send">
					</div>
					<div>
			 	      <textarea type="text" id="reponse" name="reponse" rows="50" cols="200"></textarea>
			 		</div>
			 </p>
		</form>
	</body>
	<script src="../js/proxyChat.js"></script>
</html>
